@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/open-sans/OpenSans-Bold.ttf") format("truetype");
    font-weight: bold;
}


@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
    font-weight: 100;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Montserrat";
    src: url("assets/fonts/montserrat/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}


@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/rubik/Rubik-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/rubik/Rubik-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}
@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/rubik/Rubik-Bold.ttf") format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Rubik";
    src: url("assets/fonts/rubik/Rubik-Black.ttf") format("truetype");
    font-weight: 900;
}